Repository indykite/indykite-sdk-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(CHANGELOG|.github\/ISSUE_TEMPLATE\/.*)\.md$
  golangci-lint-validate-config: any of: \.golangci\.(y?ml|toml|json)$

ci: release tweaks; pre-commit updates
  .github/workflows/changelog.yaml
  .github/workflows/release-notes.yaml
  .pre-commit-config.yaml
  .release-please-config.json
  release-please-config.json
Due: actionlint-system, yamlfmt, yamllint

ci: release slack notification
  .github/workflows/release-notes.yaml
Due: actionlint-system, yamlfmt, yamllint

feat: remove tda and consent config
  .release-please-config.json
  config/config_node_test.go
  config/config_request.go
  doc.go
  examples/config/cmd/consent_config.go
  examples/tda/README.md
  examples/tda/cmd.go
  examples/tda/cmd/consent.go
  examples/tda/cmd/root.go
  gen/indykite/tda/v1beta1/model.pb.go
  gen/indykite/tda/v1beta1/model.pb.validate.go
  gen/indykite/tda/v1beta1/trusted_data_access_api.pb.go
  gen/indykite/tda/v1beta1/trusted_data_access_api.pb.validate.go
  gen/indykite/tda/v1beta1/trusted_data_access_api_grpc.pb.go
  go.mod
  go.sum
  tda/data_access.go
  tda/data_access_client.go
  tda/data_access_integration_test.go
  tda/data_access_suite_test.go
  tda/data_access_test.go
  tda/doc.go
  test/integration_client.go
  test/tda/v1beta1/trusted_data_access_api_mock.go
Due: markdownlint

fix: ci actions; workflow manual re-run support
  .github/workflows/docker-build-go-sdk-tests.yaml
  .github/workflows/go-lint-check.yaml
  .github/workflows/go-tests.yaml
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release-notes.yaml
Due: actionlint-system, yamlfmt, yamllint

fix: ci actions; workflow manual re-run support (#385)
  .github/workflows/docker-build-go-sdk-tests.yaml
  .github/workflows/go-lint-check.yaml
  .github/workflows/go-tests.yaml
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release-notes.yaml
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.67.1
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

chore(master): release 0.67.1 (#386)
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

feat: deprecate old api
  gen/indykite/auditsink/v1beta1/ai.pb.go
  gen/indykite/auditsink/v1beta1/authorization.pb.go
  gen/indykite/auditsink/v1beta1/ciq.pb.go
  gen/indykite/auditsink/v1beta1/config.pb.go
  gen/indykite/auditsink/v1beta1/credentials.pb.go
  gen/indykite/auditsink/v1beta1/ingest.pb.go
  gen/indykite/auditsink/v1beta1/ingest.pb.validate.go
  gen/indykite/authorization/v1beta1/authorization_service.pb.go
  gen/indykite/authorization/v1beta1/model.pb.go
  gen/indykite/config/v1beta1/config_management_api.pb.go
  gen/indykite/config/v1beta1/model.pb.go
  gen/indykite/config/v1beta1/policy_builder.pb.go
  gen/indykite/ingest/v1beta3/ingest_api.pb.go
  gen/indykite/ingest/v1beta3/ingest_api_grpc.pb.go
  gen/indykite/ingest/v1beta3/model.pb.go
  gen/indykite/knowledge/objects/v1beta1/ikg.pb.go
  gen/indykite/knowledge/v1beta2/identity_knowledge_api.pb.go
  gen/indykite/knowledge/v1beta2/identity_knowledge_api_grpc.pb.go
  gen/indykite/knowledge/v1beta2/model.pb.go
  gen/indykite/objects/v1beta1/struct.pb.go
  gen/indykite/objects/v1beta2/value.pb.go
  go.mod
  go.sum
Due: none

chore(master): release 0.68.0
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

fix: fix test after modif
  authorization/authorization_integration_test.go
Due: none

chore(master): release 0.68.1
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

feat: add last error in events
  docker/infra/Dockerfile
  gen/indykite/config/v1beta1/model.pb.go
  gen/indykite/config/v1beta1/model.pb.validate.go
  go.mod
  go.sum
Due: none

build: move the GCP workload IDP to a secret
  .github/workflows/docker-build-go-sdk-tests.yaml
  .github/workflows/go-tests.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: move the GCP workload IDP to a secret (#396)
  .github/workflows/docker-build-go-sdk-tests.yaml
  .github/workflows/go-tests.yaml
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.69.0
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

chore(master): release 0.69.1
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

chore(master): release 0.69.1 (#403)
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

chore(master): release 0.69.2
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

refactor: use updated GitHub org secrets
  .github/workflows/docker-build-go-sdk-tests.yaml
  .github/workflows/go-tests.yaml
Due: actionlint-system, yamlfmt, yamllint

feat: update buf with latest modif in config
  gen/indykite/config/v1beta1/config_management_api.pb.go
  gen/indykite/config/v1beta1/config_management_api.pb.validate.go
  gen/indykite/ingest/v1beta3/model.pb.go
  gen/indykite/ingest/v1beta3/model.pb.validate.go
  gen/indykite/knowledge/objects/v1beta1/ikg.pb.go
  gen/indykite/knowledge/objects/v1beta1/ikg.pb.validate.go
  go.mod
  go.sum
Due: none

chore(master): release 0.70.0
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

chore(master): release 0.70.1
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

refactor: use updated GitHub org secrets (#408)
  .github/workflows/docker-build-go-sdk-tests.yaml
  .github/workflows/go-tests.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: fix secret injection for gcloud auth
  .github/workflows/go-tests.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: fix secret injection for gcloud auth
  .github/workflows/docker-build-go-sdk-tests.yaml
  .github/workflows/go-tests.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: fix secret injection for gcloud auth (#427)
  .github/workflows/docker-build-go-sdk-tests.yaml
  .github/workflows/go-tests.yaml
Due: actionlint-system, yamlfmt, yamllint
