Repository indykite/indykite-sdk-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

actionlint-system:
  name: github-actionlint
  language: system
  entry: actionlint

yamlfmt:
  name: yamlfmt
  language: system
  entry: yamlfmt

yamllint:
  name: yamllint
  language: system
  entry: yamllint
  args:
  - --strict

markdownlint:
  name: markdownlint
  language: system
  entry: markdownlint-cli2

golangci-lint-validate-config:
  name: golangci-lint/validate-config
  entry: golangci-lint config verify
  language: system
  pass_filenames: false

chore(master): release 0.70.1
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

feat: update readme
  README.md
  go.mod
  go.sum
Due: markdownlint

chore(master): release 0.71.0
  .release-please-manifest.json
  CHANGELOG.md
  authorization/doc.go
  config/doc.go
  ingest/doc.go
  knowledge/doc.go
Due: none

test: fix tests to reflect be changes
  config/config_integration_test.go
Due: none

fix: fix authorization test
  authorization/authorization_integration_test.go
Due: none

fix: fix authorization test (#435)
  authorization/authorization_integration_test.go
Due: none

test: fix matcher expectation order
  authorization/authorization_integration_test.go
Due: none

test: satisfy linters
  config/application_space_test.go
  config/config_node_test.go
Due: none

chore: bump docker base image version
  docker/infra/Dockerfile
  go.mod
  go.sum
Due: none

test: fix matcher expectation order (#436)
  authorization/authorization_integration_test.go
  config/application_space_test.go
  config/config_node_test.go
  docker/infra/Dockerfile
  go.mod
  go.sum
Due: none

fix: fix lint issue
  .github/CODEOWNERS
  gen/indykite/objects/v1beta1/struct.ext.go
  go.mod
  go.sum
Due: none

feat: add the docker infra
  .github/workflows/go-tests.yaml
  auth/jwt.go
  authzen/integration_test.go
  capture/client.go
  capture/example_test.go
  ciq/integration_test.go
  docker/infra/.version
  docker/infra/Dockerfile
  docker/infra/startscript.sh
  examples/capture/main.go
  examples/ciq/main.go
  internal/bqaudit/bqaudit.go
  transport/errors.go
  transport/otel.go
Due: actionlint-system, yamlfmt, yamllint

feat: put integration tests back
  .github/workflows/go-tests.yaml
  config/util.go
  transport/pagination.go
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.72.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: fix test integration issue
  GNUmakefile
  go.mod
  go.sum
  ikg_integration_test.go
Due: none

fix: fix hadolint issue and update dep
  .pre-commit-config.yaml
  docker/infra/Dockerfile
  go.mod
  go.sum
Due: yamlfmt, yamllint

chore(master): release 0.72.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci: migrate workflows to github app tokens
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release-notes.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: action checkout
  .github/workflows/docker-build-go-sdk-tests.yaml
  .github/workflows/go-lint-check.yaml
  .github/workflows/go-tests.yaml
  .github/workflows/pre-commit-cache.yaml
  .pre-commit-config.yaml
  .trivy.yaml
  doc/guides/commit-message.md
Due: actionlint-system, yamlfmt, yamllint, markdownlint

ci: action checkout (#475)
  .github/workflows/docker-build-go-sdk-tests.yaml
  .github/workflows/go-lint-check.yaml
  .github/workflows/go-tests.yaml
  .github/workflows/pre-commit-cache.yaml
  .pre-commit-config.yaml
  .trivy.yaml
  doc/guides/commit-message.md
Due: actionlint-system, yamlfmt, yamllint, markdownlint

ci: guard version-check when no release pending
  .github/workflows/release-notes.yaml
Due: actionlint-system, yamlfmt, yamllint

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(CHANGELOG|.github\/ISSUE_TEMPLATE\/.*)\.md$
  golangci-lint-validate-config: any of: \.golangci\.(y?ml|toml|json)$
