Repository indykite/indykite-sdk-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

actionlint-system:
  name: github-actionlint
  language: system
  entry: actionlint

yamlfmt:
  name: yamlfmt
  language: system
  entry: yamlfmt

yamllint:
  name: yamllint
  language: system
  entry: yamllint
  args:
  - --strict

markdownlint:
  name: markdownlint
  language: system
  entry: markdownlint-cli2

golangci-lint-validate-config:
  name: golangci-lint/validate-config
  entry: golangci-lint config verify
  language: system
  pass_filenames: false

ci: guard version-check when no release pending
  .github/workflows/release-notes.yaml
Due: actionlint-system, yamlfmt, yamllint

feat: upgrade to go 1.27
  .github/workflows/go-lint-check.yaml
  GNUmakefile
  README.md
  docker/infra/Dockerfile
  go.mod
Due: actionlint-system, yamlfmt, yamllint, markdownlint

feat: add audit-signings
  .github/workflows/go-tests.yaml
  config/audit_signing.go
  config/client.go
  config/generic_resources_test.go
  config/integration_test.go
  docker/infra/startscript.sh
  examples/config/main.go
  go.mod
  go.sum
  test/README.md
  test/fixtures/config.json
  test/setup/main.go
  test/setup/main_test.go
Due: actionlint-system, yamlfmt, yamllint, markdownlint

ci: 3rd-party licenses
  .github/CODEOWNERS
  .trivy.yaml
  LICENSES.md
Due: yamlfmt, yamllint, markdownlint

ci: 3rd-party licenses
  .github/workflows/pre-commit-cache.yaml
  .pre-commit-config.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: 3rd-party licenses (#492)
  .github/CODEOWNERS
  .github/workflows/pre-commit-cache.yaml
  .pre-commit-config.yaml
  .trivy.yaml
  LICENSES.md
Due: actionlint-system, yamlfmt, yamllint, markdownlint

feat: add whoami endpoint
  .golangci.yml
  LICENSES.md
  README.md
  auth/jwt.go
  ciq/client.go
  ciq/client_test.go
  ciq/example_test.go
  ciq/integration_test.go
  ciq/suite_integration_test.go
  ciq/suite_test.go
  ciq/types.go
  go.mod
  go.sum
Due: yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

feat: add policies endpoint implementation
  LICENSES.md
  README.md
  authzen/client.go
  authzen/client_test.go
  authzen/example_test.go
  authzen/integration_test.go
  authzen/suite_integration_test.go
  authzen/suite_test.go
  authzen/types.go
  config/types.go
  examples/README.md
  examples/authzen/main.go
  go.mod
  go.sum
  ikg_integration_test.go
Due: markdownlint

ci: route trivy findings to jira
  .trivy.yaml
Due: yamlfmt, yamllint

ci: remove run_env from ci image
  docker/infra/.version
  docker/infra/startscript.sh
Due: none

feat: add claims and audit
  README.md
  audit/client.go
  audit/client_test.go
  audit/example_test.go
  audit/integration_test.go
  audit/suite_integration_test.go
  audit/suite_test.go
  audit/types.go
  auth/auth.go
  authzen/client.go
  authzen/client_test.go
  authzen/example_test.go
  authzen/types.go
  ciq/client.go
  ciq/client_test.go
  ciq/types.go
  config/types.go
  examples/README.md
  examples/audit/main.go
  examples/authzen/main.go
  examples/ciq/main.go
  examples/tokenclaims/main.go
  ikg_integration_test.go
  indykite.go
  suite_integration_test.go
Due: markdownlint

feat: add claims and audit
  examples/README.md
  examples/authzen/main.go
  go.mod
  go.sum
  indykite_test.go
Due: markdownlint

feat: add claims and audit
  audit/integration_test.go
  examples/tokenclaims/main.go
  test/README.md
Due: markdownlint

ci: route trivy findings to jira (#502)
  .trivy.yaml
Due: yamlfmt, yamllint

feat: replace location by project_id and deprecate
  .pre-commit-config.yaml
  LICENSES.md
  config/app_agent.go
  config/application.go
  config/audit_signing.go
  config/authorization_policy.go
  config/entity_matching_pipeline.go
  config/event_sink.go
  config/external_data_resolver.go
  config/generic_resources_test.go
  config/integration_test.go
  config/knowledge_query.go
  config/mcp_server.go
  config/project.go
  config/resources_test.go
  config/service_account.go
  config/token_introspect.go
  config/trust_score_profile.go
  config/util.go
  test/setup/main.go
Due: yamlfmt, yamllint, markdownlint

feat: replace location by project_id and deprecate
  config/generic_resources_test.go
  config/util.go
Due: none

ci: correct trivy codeowners glob
  .github/CODEOWNERS
Due: none

ci: correct trivy codeowners glob (#509)
  .github/CODEOWNERS
Due: none

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(CHANGELOG|.github\/ISSUE_TEMPLATE\/.*)\.md$
  golangci-lint-validate-config: any of: \.golangci\.(y?ml|toml|json)$
